/* general styling */

header {
    padding: 0;
    margin: 0;
    height: 100px;
    width:100%;
    float: left;
    border-bottom: 5px solid #CD1717;
    background-color: #000;
}

footer {
    position:relative;
    left:0;
    bottom:0;
    padding: 0;
    margin: 0;
    height: 80px;
    width:100%;
    float: left;
    border-top: 5px solid #CD1717;
    background-color: #000;
    color:#fff;
}

footer .container {
    height:80px;
    margin:0 0 0 10px;
    padding:0;
}

footer p {
    margin:10px 0;
}

/* end of general styling */

/* top nav bar */

.nav-top li {
    display: inline;
    float:left;
    width:100px;
    height:100px;
    font-weight:bold;
    position:relative;
    bottom:-50px;
}

.nav-top li a {
    padding:20px;
    width:60px;
    height:60px;
    color:#fff;
    border: 2px solid #CF1717;
    border-radius:7px;
}

.nav-top li a:hover {
    color:#000;
    background-color:#fff;
    border-color:#CF1717;
    text-decoration:none;
    transition: all 0.2s ease-in-out;
}

/* end of top nav bar */

/* main-content element */

.main-content {
    margin:0 15%;
}

/* end of main-content element */

/* logo */

#logo-container {
    position:absolute;
    left:0; /* fit logo to left */
    top:0; /* fot logo to top */
    padding:0;
    margin:0;
}

#logo {
    height: 100px;
    width: auto;
}

/* end of logo */

/* footer-row element */

.footer-row {
    height:80px;
    display:flex;
}

/* end of footer-row element */

/* social media links */

.socials {
    position:absolute;
    right:0.5%;
    font-size: 1.5em;
    text-align: right;
}
.socials a {
    padding-left:0.5%;
}

/* end of social media links */