/* top nav bar */
.nav-top li {
    display: inline;
    float:left;
    width:100px;
    height:100px;
    font-weight:bold;
    position:relative;
    bottom:-50px;
}

.nav-top li a {
    padding:20px;
    width:60px;
    height:60px;
    color:#fff;
    border: 2px solid #CF1717;
    border-radius:7px;
}

.nav-top li a:hover {
    color:#000;
    background-color:#fff;
    border-color:#CF1717;
    text-decoration:none;
    transition: all 0.2s ease-in-out;
}

/* general styling */

header {
    padding: 0;
    margin: 0;
    height: 100px;
    width:100%;
    float: left;
    border-bottom: 5px solid #CD1717;
    background-color: #000;
}

footer {
    position:relative;
    left:0;
    bottom:0;
    margin:0;
    padding:0;
}

footer .container {
    margin:0 0 0 10px;
    padding:0;
}

#logo-container {
    position:absolute;
    left:0; /* fit logo to left */
    top:0; /* fot logo to top */
    padding:0;
    margin:0;
}

#logo {
    height: 100px;
    width: auto;
}