/* top nav bar */
.nav-top li {
    display: inline;
    float:left;
    width:100px;
    height:100px;
    font-weight:bold;
    position:relative;
    bottom:-150px;
}

.nav-top li a {
    padding:20px;
    width:60px;
    height:60px;
}

/* html styling */

header {
    padding: 0;
    margin: 0;
    height: 200px;
    width:100%;
    float: left;
    border-bottom: 5px solid #CD1717;
    background-color: #000;
}
#logo {
    height: 100%;
    position:absolute;
    left:0; /* fit logo to left */
    top:0; /* fot logo to top */
}